body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(250, 235, 215, 0.497);
    justify-content: center;
    min-height: 100vh;
    margin: 20px;
    color: saddlebrown;
    text-align: center;
}
.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
    width: 90vw;
    background-color: #fff;
    max-height: fit-content;
    min-height: 100vh;
    max-width: 1000px;
    min-width: 350px;
    padding: 7rem 20px 0;
    border-radius: 5px;
    overflow: hidden;
    box-sizing: border-box;

}
button, input[type="submit"] {
    background-color: saddlebrown;
    color: #fff;
    font-size: 0.7rem;
    height: 2rem;
    width: 6rem;
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: #fff;
    box-shadow: 0px 4px 10px saddlebrown;
    cursor: pointer;
}
button:hover, input[type="submit"]:hover {
    transform: scale(1.2);
}

Main {
    margin-top: 0.3rem;
    box-shadow: 0px 0px 4px 0px rgba(139, 69, 19, 0.2);
    border-radius: 5px;
    min-height: 80vh;
    padding: 0rem 2rem 2rem;
}
.border-section {
    border-top: 1.5px solid rgba(139, 69, 19, 0.15);
    width: 80%;
    justify-self: center;
}

@media (max-width: 900px) {
        .container {
        padding-top: 6.5rem;
    }
}

@media (max-width:600px) {
    body {
        margin: 0;
    }
    .container {
        margin: 0;
        padding-top: 6rem;
        width: 95vw;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 4rem 2vw 0 2vw;
        min-width: unset;
        max-width: 100vw;
    }
    main {
        padding: 0.5rem 0.2rem 1rem 0.2rem;
    }
}

@media (max-width:320px) {
    .container{
        margin-right: 20px;
    }
}
