.cart-popup {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 90v;
  height: 120vh;
  /* background: rgba(0, 0, 0, 0.5); */
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  z-index: 99999;
}
.cart-popup-content {
  margin: 4rem 1rem;
  background: #fff;
  padding: 2rem 1rem;
  border-radius: 10px;
  min-width: 10rem;
  max-width: 90vw;
  text-align: center;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.cart-popup-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  color: #a0522d;
  cursor: pointer;
  font-weight: bold;
  background: none;
  border: none;
}
.cart-popup-content h3{
  border-bottom: 1px solid rgba(139, 69, 19, 0.15);
  padding: 0.5rem 0rem;
}
.cart-popup-list-wrapper{
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(139, 69, 19, 0.1);
  background: #f9f9f9;
}
#cart-popup-list {
  list-style: none;
  max-height: 15rem;
  overflow-y: auto;
  padding: 0;
  margin:0;
}
#cart-popup-list li {
  padding: 0.3rem 0;
  border-bottom: 1px solid #eee;
  font-size: 0.95rem;
}
.cart-popup-footer {
  margin-top: 1rem;
}
.cart-popup-footer button a{
    color: #fff;
    margin: 0;
    font-style: normal;
    font-weight: normal;
}
.cart-popup-footer button a:hover {
    color: #fff;
    text-decoration: none;
}
